<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsungroup.repository.mapper.AuditOrgMapper">
  <resultMap id="BaseResultMap" type="com.xsungroup.domain.model.org.AuditOrg">
    <id column="pk" jdbcType="VARCHAR" property="pk" />
    <result column="pk_org" jdbcType="VARCHAR" property="pkOrg" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="audit_mode" jdbcType="INTEGER" property="auditMode" />
    <result column="audit_user" jdbcType="VARCHAR" property="auditUser" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_memo" jdbcType="VARCHAR" property="auditMemo" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="ts" jdbcType="VARCHAR" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    pk, pk_org, status, audit_mode, audit_user, audit_time, audit_memo, dr, create_user, 
    create_time, modify_user, modify_time, ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_audit_org
    where pk = #{pk,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_audit_org
    where pk = #{pk,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xsungroup.domain.model.org.AuditOrg">
    <selectKey keyProperty="pk" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') pk
    </selectKey>
    insert into t_audit_org (pk, pk_org, status, 
      audit_mode, audit_user, audit_time, 
      audit_memo, dr, create_user, 
      create_time, modify_user, modify_time, 
      ts)
    values (#{pk,jdbcType=VARCHAR}, #{pkOrg,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{auditMode,jdbcType=INTEGER}, #{auditUser,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditMemo,jdbcType=VARCHAR}, #{dr,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{ts,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xsungroup.domain.model.org.AuditOrg">
    <selectKey keyProperty="pk" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') pk
    </selectKey>
    insert into t_audit_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        pk,
      </if>
      <if test="pkOrg != null">
        pk_org,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="auditMode != null">
        audit_mode,
      </if>
      <if test="auditUser != null">
        audit_user,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="auditMemo != null">
        audit_memo,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        #{pk,jdbcType=VARCHAR},
      </if>
      <if test="pkOrg != null">
        #{pkOrg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="auditMode != null">
        #{auditMode,jdbcType=INTEGER},
      </if>
      <if test="auditUser != null">
        #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditMemo != null">
        #{auditMemo,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsungroup.domain.model.org.AuditOrg">
    update t_audit_org
    <set>
      <if test="pkOrg != null">
        pk_org = #{pkOrg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="auditMode != null">
        audit_mode = #{auditMode,jdbcType=INTEGER},
      </if>
      <if test="auditUser != null">
        audit_user = #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditMemo != null">
        audit_memo = #{auditMemo,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=VARCHAR},
      </if>
    </set>
    where pk = #{pk,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsungroup.domain.model.org.AuditOrg">
    update t_audit_org
    set pk_org = #{pkOrg,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      audit_mode = #{auditMode,jdbcType=INTEGER},
      audit_user = #{auditUser,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_memo = #{auditMemo,jdbcType=VARCHAR},
      dr = #{dr,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=VARCHAR}
    where pk = #{pk,jdbcType=VARCHAR}
  </update>
</mapper>