<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsungroup.repository.mapper.DocumentBusinessMapper">
  <resultMap id="BaseResultMap" type="com.xsungroup.domain.model.document.DocumentBusiness">
    <id column="pk" jdbcType="VARCHAR" property="pk" />
    <result column="business_code" jdbcType="VARCHAR" property="businessCode" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="registered_capital" jdbcType="VARCHAR" property="registeredCapital" />
    <result column="capital_type" jdbcType="VARCHAR" property="capitalType" />
    <result column="business_address" jdbcType="VARCHAR" property="businessAddress" />
    <result column="vaild_time_start" jdbcType="TIMESTAMP" property="vaildTimeStart" />
    <result column="valid_time_end" jdbcType="TIMESTAMP" property="validTimeEnd" />
    <result column="licensing_organiz" jdbcType="VARCHAR" property="licensingOrganiz" />
    <result column="business_url" jdbcType="VARCHAR" property="businessUrl" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="ts" jdbcType="VARCHAR" property="ts" />
  </resultMap>
  <sql id="Base_Column_List">
    pk, business_code, org_name, registered_capital, capital_type, business_address, 
    vaild_time_start, valid_time_end, licensing_organiz, business_url, dr, create_user, 
    create_time, modify_user, modify_time, ts
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_document_business
    where pk = #{pk,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_document_business
    where pk = #{pk,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xsungroup.domain.model.document.DocumentBusiness">
    <selectKey keyProperty="pk" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') pk
    </selectKey>
    insert into t_document_business (pk, business_code, org_name, 
      registered_capital, capital_type, business_address, 
      vaild_time_start, valid_time_end, licensing_organiz, 
      business_url, dr, create_user, 
      create_time, modify_user, modify_time, 
      ts)
    values (#{pk,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{registeredCapital,jdbcType=VARCHAR}, #{capitalType,jdbcType=VARCHAR}, #{businessAddress,jdbcType=VARCHAR}, 
      #{vaildTimeStart,jdbcType=TIMESTAMP}, #{validTimeEnd,jdbcType=TIMESTAMP}, #{licensingOrganiz,jdbcType=VARCHAR}, 
      #{businessUrl,jdbcType=VARCHAR}, #{dr,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{ts,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xsungroup.domain.model.document.DocumentBusiness">
    <selectKey keyProperty="pk" resultType="string" order="BEFORE">
      select replace(uuid(), '-', '') pk
    </selectKey>
    insert into t_document_business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        pk,
      </if>
      <if test="businessCode != null">
        business_code,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="registeredCapital != null">
        registered_capital,
      </if>
      <if test="capitalType != null">
        capital_type,
      </if>
      <if test="businessAddress != null">
        business_address,
      </if>
      <if test="vaildTimeStart != null">
        vaild_time_start,
      </if>
      <if test="validTimeEnd != null">
        valid_time_end,
      </if>
      <if test="licensingOrganiz != null">
        licensing_organiz,
      </if>
      <if test="businessUrl != null">
        business_url,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="ts != null">
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        #{pk,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null">
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null">
        #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="capitalType != null">
        #{capitalType,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null">
        #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="vaildTimeStart != null">
        #{vaildTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="validTimeEnd != null">
        #{validTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="licensingOrganiz != null">
        #{licensingOrganiz,jdbcType=VARCHAR},
      </if>
      <if test="businessUrl != null">
        #{businessUrl,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsungroup.domain.model.document.DocumentBusiness">
    update t_document_business
    <set>
      <if test="businessCode != null">
        business_code = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null">
        registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="capitalType != null">
        capital_type = #{capitalType,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null">
        business_address = #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="vaildTimeStart != null">
        vaild_time_start = #{vaildTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="validTimeEnd != null">
        valid_time_end = #{validTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="licensingOrganiz != null">
        licensing_organiz = #{licensingOrganiz,jdbcType=VARCHAR},
      </if>
      <if test="businessUrl != null">
        business_url = #{businessUrl,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=VARCHAR},
      </if>
    </set>
    where pk = #{pk,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsungroup.domain.model.document.DocumentBusiness">
    update t_document_business
    set business_code = #{businessCode,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      registered_capital = #{registeredCapital,jdbcType=VARCHAR},
      capital_type = #{capitalType,jdbcType=VARCHAR},
      business_address = #{businessAddress,jdbcType=VARCHAR},
      vaild_time_start = #{vaildTimeStart,jdbcType=TIMESTAMP},
      valid_time_end = #{validTimeEnd,jdbcType=TIMESTAMP},
      licensing_organiz = #{licensingOrganiz,jdbcType=VARCHAR},
      business_url = #{businessUrl,jdbcType=VARCHAR},
      dr = #{dr,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=VARCHAR}
    where pk = #{pk,jdbcType=VARCHAR}
  </update>
</mapper>