<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsungroup.repository.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xsungroup.domain.model.user.UserModel">
    <id column="pk" jdbcType="VARCHAR" property="pk" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <!--<result column="pk_role" jdbcType="VARCHAR" property="pkRole" />
    <result column="pk_org" jdbcType="VARCHAR" property="pkOrg" />
    <result column="pk_top_org" jdbcType="VARCHAR" property="pkTopOrg" />
    <result column="pk_create_org" jdbcType="VARCHAR" property="pkCreateOrg" />-->
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="transport_type" jdbcType="VARCHAR" property="transportMode" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
    <result column="ts" jdbcType="VARCHAR" property="ts" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <association property="role" column="pk_role" select="selectByPrimaryKey"
                 javaType="com.xsungroup.domain.model.user.Role"/>
    <association property="org" column="pk_org" select="selectByPrimaryKey"
                 javaType="com.xsungroup.domain.model.user.Organization"/>
    <association property="topOrg" column="pk_top_org" select="selectByPrimaryKey"
                 javaType="com.xsungroup.domain.model.user.Organization"/>
    <association property="createOrg" column="pk_create_org" select="selectByPrimaryKey"
                 javaType="com.xsungroup.domain.model.user.Organization"/>
  </resultMap>
  <sql id="Base_Column_List">
    pk, user_name, display_name, pk_role, pk_org, pk_top_org, pk_create_org, last_login_time, 
    is_valid, password, phone_num, transport_type, dr, ts, create_user, create_time, 
    modify_user, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_base_user
    where pk = #{pk,jdbcType=VARCHAR}
  </select>
  <select id="findUserList" resultType="com.xsungroup.controller.vo.UserInfoListVo">
    SELECT
      user.pk, user.user_name, user.display_name, user.phone_num, role.role_name,org.org_name,
      user.last_login_time,user.dr, company.org_name
    FROM t_base_user user
    LEFT JOIN t_base_role role ON user.pk_role = role.pk
    LEFT JOIN t_base_org org ON user.pk_top_org = org.pk
    LEFT JOIN t_base_org company ON user.pk_create_org = company.pk
    WHERE user.dr = 0
    <if test="userName != null and userName != ''">
      and user_name = #{userName}
    </if>
    <if test="displayName != null and displayName != ''">
      and display_name = #{displayName}
    </if>
    <if test="pkRole != null and pkRole != ''">
      and pk_role = #{pkRole}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_base_user
    where pk = #{pk,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteBatch">

  </delete>
  <insert id="insert" parameterType="com.xsungroup.domain.model.user.UserModel">
      <selectKey keyProperty="pk" resultType="string" order="BEFORE">
          select replace(uuid(), '-', '') pk
      </selectKey>
    insert into t_base_user (pk, user_name, display_name, 
      pk_role, pk_org, pk_top_org, 
      pk_create_org, last_login_time, is_valid, 
      password, phone_num, transport_type, 
      dr, ts, create_user, 
      create_time, modify_user, modify_time
      )
    values (#{pk,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, 
      #{role.pk,jdbcType=VARCHAR}, #{org.pk,jdbcType=VARCHAR}, #{topOrg.pk,jdbcType=VARCHAR},
      #{createOrg.pk,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{isValid,jdbcType=INTEGER},
      #{password,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{transportType,jdbcType=VARCHAR}, 
      #{dr,jdbcType=INTEGER}, #{ts,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xsungroup.domain.model.user.UserModel">
      <selectKey keyProperty="pk" resultType="string" order="BEFORE">
          select replace(uuid(), '-', '') pk
      </selectKey>
    insert into t_base_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        pk,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="pkRole != null">
        pk_role,
      </if>
      <if test="pkOrg != null">
        pk_org,
      </if>
      <if test="pkTopOrg != null">
        pk_top_org,
      </if>
      <if test="pkCreateOrg != null">
        pk_create_org,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="transportType != null">
        transport_type,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="ts != null">
        ts,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pk != null">
        #{pk,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="pkRole != null">
        #{role.pk,jdbcType=VARCHAR},
      </if>
      <if test="pkOrg != null">
        #{org.pk,jdbcType=VARCHAR},
      </if>
      <if test="pkTopOrg != null">
        #{topOrg.pk,jdbcType=VARCHAR},
      </if>
      <if test="pkCreateOrg != null">
        #{createOrg.pk,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="transportType != null">
        #{transportType,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsungroup.domain.model.user.UserModel">
    update t_base_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="pkRole != null">
        pk_role = #{role.pk,jdbcType=VARCHAR},
      </if>
      <if test="pkOrg != null">
        pk_org = #{org.pk,jdbcType=VARCHAR},
      </if>
      <if test="pkTopOrg != null">
        pk_top_org = #{topOrg.pk,jdbcType=VARCHAR},
      </if>
      <if test="pkCreateOrg != null">
        pk_create_org = #{createOrg.pk,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="transportType != null">
        transport_type = #{transportType,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk = #{pk,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsungroup.domain.model.user.UserModel">
    update t_base_user
    set user_name = #{userName,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      pk_role = #{role.pk,jdbcType=VARCHAR},
      pk_org = #{org.pk,jdbcType=VARCHAR},
      pk_top_org = #{topOrg.pk,jdbcType=VARCHAR},
      pk_create_org = #{createOrg.pk,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      transport_type = #{transportType,jdbcType=VARCHAR},
      dr = #{dr,jdbcType=INTEGER},
      ts = #{ts,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where pk = #{pk,jdbcType=VARCHAR}
  </update>
</mapper>